<div class=" col-md-6">
    <div class="well">
        <h5>Gestion des utilisateurs</h5>
        <div>
                <li><a href="{{ path('homepage') }}"> </a>Liste des utilsateurs</li>
                <li><a href="{{ path('homepage'}}"> </a>Affichage du détails d'un utilisateur</li>
                <li><a> </a>Création d'un utilsateur</li>
                <li><a> </a>Modification d'un utilsateur</li>
                <li><a> </a>Suppression d'un utilsateur</li>
            </ul>
            </ol>
        </div>
    </div>
</div>
