<div class=" col-md-6">
    <div class="slidebar-module well">
        <h5>Users crées aujourd'hui</h5>
        <div>
            <ol class="list-unstyled">
                {% for user in users %}
                    <li><a href="{{ path('users_show',{'id':user.id}) }}">{{ user.username }} </a></li>
                {% else %}
                Pas d'utilisateurs crées.
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
