<div class="slidebar-module well">
    <h5>Breaking News</h5>
    <div>
        <ol class="list-unstyled">
            {% for result in result %}
                <li><a href="{{ result.getLink() }}"></a></li>
            {% endfor %}
        </ol>
    </div>
</div>
