<!DOCTYPE html>
<html>
    <head>
        <style>
            nav ul{
                list-style-type: none;
            }
            nav li{
                display : inline-block;
                width : 100%;
            }
        </style>

    </head>
    <body>
        <nav>
            <ul id="menu_horizontal">
                <li><a href={{ path('homepage') }}>Home</a></li>
                <li><a href={{ path ('userslist') }}>Users</a></li>
                <li><a <a href={{ path ('articleslist') }}>Articles</a></li>
            </ul>
        </nav>
    </body>
</html>

