<!DOCTYPE html>
<html>
    <head>
        <style>
            nav {
                padding: 0; margin: 0;
                background-color: #C9C9C9;
            }
            nav ul{
                list-style-type: none;
            }
            nav li {
                display: inline;
                list-style: none; /* nécessaire pour IE7 */
            }
        </style>

    </head>
    <body>
        <nav>
            <ul id="menu_horizontal">
                <li><a href={{ path('homepage') }}>Home</a></li>
                <li><a href={{ path ('userslist') }}>Users</a></li>
                <li><a href={{ path ('articleslist') }}>Articles</a></li>
            </ul>
        </nav>
    </body>
</html>

